on post-fs
    # Panel backlight
    chown system system /sys/class/leds/lm3533-lcd-bl-1/als_enable
    chown system system /sys/class/leds/lm3533-lcd-bl-1/als_on_suspend_enable
    chown system system /sys/class/leds/lm3533-lcd-bl-1/brightness
    chmod 660 /sys/class/leds/lm3533-lcd-bl-1/brightness
    chown system system /sys/class/leds/lm3533-lcd-bl-1/fsc
    chown system system /sys/class/leds/lm3533-lcd-bl-1/max_brightness
    chown system system /sys/class/leds/lm3533-lcd-bl-1/pwm

    chown system system /sys/class/leds/lm3533-lcd-bl-2/als_enable
    chown system system /sys/class/leds/lm3533-lcd-bl-2/als_on_suspend_enable
    chown system system /sys/class/leds/lm3533-lcd-bl-2/brightness
    chmod 660 /sys/class/leds/lm3533-lcd-bl-2/brightness
    chown system system /sys/class/leds/lm3533-lcd-bl-2/fsc
    chown system system /sys/class/leds/lm3533-lcd-bl-2/max_brightness
    chown system system /sys/class/leds/lm3533-lcd-bl-2/pwm

on boot
    # Set default brightness for boot
    write /sys/class/leds/lm3533-lcd-bl-1/brightness 127
    write /sys/class/leds/lm3533-lcd-bl-2/brightness 127

    # Vibrator
    chown system system /sys/devices/i2c-2/2-0049/intensity

    # Camera/Libals
    chown media input /dev/input/event10
